legend{
       background-color: grey;
       color: black;
       padding: 15px,20px;
       }
fieldset{
       background-color: #eeeeee;
            }
            body{
                background-color: seagreen;
            }
            .td,th,tr{
                background-color: white;
                font-family: initial;
            }
            